

/* Theme */

main {
	background-image: linear-gradient(to right top, #fbab7e, #fdb377, #fdbb71, #fbc46c, #f7ce68);;
	color: #44475a;
}

.icons-social a {
	color: #44475a;
}

.icons-social a svg path{
	fill: #44475a;
}